.btn-primary:hover, .btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 2rem 0;
}

.card-title {
    margin-bottom: 0px;
}

.card-subtitle {
    margin-top: 4px;
}

#infected {
    font-family: 'Newsreader', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #006d77;
}

#recovered {
    font-family: 'Newsreader', serif;
    color: #38b000;
    font-weight: 700;
    font-size: 2rem;
}

#death {
    font-family: 'Newsreader', serif;
    color: crimson;
    font-weight: 700;
    font-size: 2rem;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside, .image-flip.hover .frontside {
    /* -webkit-transform: rotateY(180deg); */
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 1rem;
    box-shadow: 2px 3px 3px -2px rgb(158, 158, 158);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside, .backside {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card, .backside .card {
    height: 13rem;
    width: 25rem;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.icon {
    padding: .6rem;
    margin-bottom: 6px;
}

.ico_big {
    color: crimson;
    font-size: 1.8rem;
}