.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 2rem 0;
}

.card-title {
  margin-bottom: 0px;
}

.card-subtitle {
  margin-top: 4px;
}

#infected {
  font-family: "Newsreader", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #006d77;
}

#recovered {
  font-family: "Newsreader", serif;
  color: #38b000;
  font-weight: 700;
  font-size: 2rem;
}

#death {
  font-family: "Newsreader", serif;
  color: crimson;
  font-weight: 700;
  font-size: 2rem;
}

#team .card {
  border: none;
  background: #ffffff;
}

.icon {
  padding: 0.6rem;
  margin-bottom: 6px;
}

.ico_big {
  color: crimson;
  font-size: 1.8rem;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
// base
.flip {
  position: relative;
  > .front,
  > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
    transition-property: transform, opacity;
    // -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 4px 6px 9px 1px rgb(158, 158, 158);
  }
  > .front {
    transform: rotateY(0deg);
  }
  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 10rem;
    height: 10rem;
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    > .back {
      transform: rotateX(-180deg);
    }
    &:hover {
      > .front {
        transform: rotateX(180deg);
      }
      > .back {
        transform: rotateX(0deg);
      }
    }
  }
}

// custom
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  > .front,
  > .back {
    display: block;
    color: black;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 220px;
    padding: 1rem;
    background: #ffffff;
    border-radius: 10px;
    p {
      font-size: 1.6rem;
      line-height: 160%;
      text-align: center;
      justify-content: center;
      //   padding: 3rem auto !important;
      margin: 3rem auto;
      align-items: center;
      color: rgb(255, 245, 245);
    }
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
#mob_view {
  margin-top: 3rem;
  padding-top: 1rem;
}
.myflex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

// ------------------   RESPONSIVE FOR 450 AND LESS --------------------
@media (max-width: 450px) {
  #mob_view {
    margin-top: 1rem;
    padding: 1px;
    width: 100%;
  }
  .flip {
    margin-right: 2px;
    margin-bottom: 1em;
    width: 100%;
    height: 16rem;
  }
  .myflex {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
}
