#state_name {
    background-color: #FDF2F2;
    color: crimson;
    padding: 0.2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

#country_name {
    color: black;
    /* text-shadow: 2px 2px; */
    text-shadow: 0 0 3px #FF0000;
    padding: 0.2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.3rem;
}

#details {
    margin-top: 6rem;
}

#details p {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1px;
}

.infected {
    color: #00b2ca;
    background-color: #d2eff3;
}

.recovered {
    color: #7aac2a;
    background-color: #dfecc9;
}

.death {
    color: crimson;
    background-color: rgb(245, 199, 208);
}

#bar_style {
    padding-top: 6rem;
    height: 30rem;
}

#line_bottomgap {
    margin-bottom: 18rem;
}

#LState {
    color: black;
    /* text-shadow: 2px 2px; */
    text-shadow: 0 0 3px #FF0000;
    padding: .1rem;
    margin: 3rem 2rem .2rem 18rem;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.3rem;
}

@media (max-width: 450px) {
    #bar_style {
        padding-top: 6rem;
        height: 24rem;
        width: 22.5rem;
    }
    #line_bottomgap {
        margin-bottom: 2rem;
    }
    #LState {
        padding: 0rem;
        margin: 0rem 2rem 0rem 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.3rem;
    }
    section {
        padding: 1rem;
    }
}